body {
    
    font-family: 'Caveat Brush', cursive;
    margin: 0;
   
}

#game-board {
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    text-align: center;
    align-items: center;
    background-color: #F4E25C;
}

header {
    text-align: center;
    align-items: center;
    border-bottom: 4px solid #543F32;
    font-size: 25px;
    color: rgb(207, 21, 21);
    

     
}

.image {
    object-fit: scale-down;;
    width: 250px;
    height: 150px;
    display: block;
    margin: auto;
}


.qCard {
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

.text {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 40%;
    font-size: 30px;
    font-weight: bold;
    color:rgb(33, 33, 185);
}

#eq {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 40px;
    font-weight: bold;
    color:rgb(33, 33, 185);
}

#aCard1 {
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
    
}

#aCard2 {
    grid-row: 2/3;
    grid-column: 4/5;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

#aCard3 {
    grid-row: 3/4;
    grid-column: 3/4;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

#aCard4 {
    grid-row: 3/4;
    grid-column: 4/5;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

#aCard5 {
    grid-row: 4/5;
    grid-column: 3/4;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

#aCard6 {
    grid-row: 4/5;
    grid-column: 4/5;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

#message {
    grid-row: 5/6;
    grid-column: 1/5;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(33, 33, 185); 
}