body {
    
    font-family: 'Caveat Brush', cursive;
    margin: 0;

}

header {
    text-align: center;
    align-items: center;
    border-bottom: 4px solid #543F32;
    font-size: 40px;
    color: rgb(211, 14, 14);     
}

h1{
    margin:0;
}

#game-board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-image: url("../assets/Classroom.png");
}

#message {
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(11, 11, 109);
}

.image {
    object-fit: scale-down;;
    width: 250px;
    height: 150px;
    display: block;
    margin: auto;
}


.qCard {
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

.text {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 50px;
    font-weight: bold;
    color:rgb(11, 11, 109);
}

#eq {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 80px;
    font-weight: bold;
    color: rgb(11, 11, 109);
}

#aCard1 {
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
    
}

#aCard2 {
    grid-row: 2/3;
    grid-column: 4/5;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

#aCard3 {
    grid-row: 3/4;
    grid-column: 3/4;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

#aCard4 {
    grid-row: 3/4;
    grid-column: 4/5;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

#aCard5 {
    grid-row: 4/5;
    grid-column: 3/4;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

#aCard6 {
    grid-row: 4/5;
    grid-column: 4/5;
    position: relative;
    justify-self: center;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 150px;
    background-image: url("../assets/IndexCard.jpg");
    background-size: contain;
}

